.cartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cartItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.cartImage img {
    width: 200px;
    height: 200px;
    object-fit: cover;    
}

.cartTitle {
    text-align: center;
}

.cartTitle p {
    text-align: center;
}

.cartTitle p:nth-child(2) {
    font-weight: bold;
}

.cartButtons {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.cartSpan,
.cartButton {
    margin: 10px;
}

.cartButton, .cartDelete {
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
}

.cartButtons button:nth-child(1):hover {
    color: rgb(231, 64, 64);
}
.cartButtons button:nth-child(3):hover {
    color: rgb(51, 163, 51);
}
.cartDelete:hover{
    color: rgb(151, 151, 151);
}

.fullPrice{
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
}

.fullPrice span{
   text-decoration:underline;
    font-weight: bold;
    font-size: 20px;
}

.shoppingPayment{
    display: flex;
    justify-content: space-around;
  
}
.link{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(56, 188, 206);
    color: rgb(58, 58, 58);
    font-weight: 700;
}

@media only screen and (max-width: 576px) {
    .cartItem {       
      width: 90%;
    }
  
   
  }