.detailsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh
    
}

.detailsImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-right: 30px;
}

.detailsImageContainer img {
    max-width: 100%;

}

.detailsTitleContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.detailsTitle {
    font-size: 2rem;
    margin-bottom: 10px;
}

.detailsCategory {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.detailsDescription {
    text-align: justify;
    margin-bottom: 10px;
}

.detailsRating {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.detailsPrice {
    font-size: 1.5rem;
}