.productsButton{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    
}

.productsButton button{
    font-size: 26px;
    border: none;
    background-color: transparent;
   cursor: pointer; 
}

.productButtonLink{
    color: black;
}